<p-blockUI [blocked]="EccsBlock"></p-blockUI>
<p-toast position="top-center" key="tc"></p-toast>

<p-fluid>
    <div class="flex flex-col md:flex-row gap-1">
      <!-- Configuraciones -->
      <div class="md:w-1/4">
        <!-- Tip -->
        <p-panel header="Info:" class="flex flex-col gap-4 m-4 ">
          <div class="inline-flex align-items-center ">
                <span class="text-lg font-semibold">
                    Scorpio XL - Fecha de lanzamiento 1/Abril/2025
                </span>
          </div>
        </p-panel>
        <!-- ------------------------------------------------------------------- -->
        <!-- Modal scorpio tip 2 -->
        <p-panel header="Info:" class="flex flex-col gap-4 m-4">
          <div class="inline-flex align-items-center">
            <span class="text-lg font-semibold">
                * Descarga masiva de XML. en 24/7
                <br>Plataforma Disponibles:
                <br>
                <br> Android | IOS | Web | Escritorio
            </span>
        </div>
        </p-panel>
        <!-- Modal Historial de peticiones -->
            <!-- video promocional -->
        <!-- ------------------------------------------------------------------- -->
      </div>
      <!-- ------------------------------------------------------------------- -->
      <!-- Formulario -->
      <div class="md:w-1/2">
        <p-panel header="Solicitar Servicio." class="flex flex-col gap-4 m-4">
          @if ( visibleForm == true ) {
            
          <form [formGroup]="frm" autocomplete="off">
            <div class="flex flex-col gap-2">
                <span for="nombre_comercial" class="block text-surface-900 dark:text-surface-0 font-medium text-lg"> Razón Social:</span>
                <input
                    id="nombre_comercial"
                    type="text"
                    maxlength="70"
                    pInputText
                    pTooltip="Ingrese nombre de la persona fisica o moral"
                    tooltipPosition="bottom"
                    formControlName="nombre_comercial"
                    placeholder="Vacio"
                />
                <p-message severity="error" text="Campo Es Obligatorio "
                    *ngIf="frm.controls['nombre_comercial'].invalid">
                </p-message>
            </div>
            <div class="flex flex-col gap-2">
                <span for="rfc" class="block text-surface-900 dark:text-surface-0 font-medium text-lg">RFC:</span>
                <input
                    id="rfc"
                    type="text"
                    maxlength="13"
                    pInputText
                    pTooltip="Ingrese el RFC"
                    tooltipPosition="bottom"
                    formControlName="rfc"
                    placeholder="Vacio"
                />
                <p-message severity="error" text="Campo Es Obligatorio "
                    *ngIf="frm.controls['rfc'].invalid">
                </p-message>
            </div>
            <div class="flex flex-col gap-2">
                <span for="correo" class="block text-surface-900 dark:text-surface-0 font-medium text-lg">Correo:</span>
                <input
                    id="correo"
                    type="text"
                    maxlength="50"
                    pInputText
                    pTooltip="Ingrese un correo de contacto."
                    tooltipPosition="bottom"
                    formControlName="correo"
                    placeholder="Vacio"
                />
                <p-message severity="error" text="Campo Es Obligatorio "
                    *ngIf="frm.controls['correo'].invalid">
                </p-message>
            </div>
            <div class="flex flex-col gap-2">
                <span for="telefono" class="block text-surface-900 dark:text-surface-0 font-medium text-lg">Tel. Contacto:</span>
                <p-inputnumber
                      id="telefono"
                      inputId="integeronly"
                      maxlength="10"
                      [useGrouping]="false"
                      pTooltip="Ingrese un numero de telefono o contacto celular."
                      tooltipPosition="bottom"
                      formControlName="telefono"
                      placeholder="Telefono | Celular"
                  />
                <p-message severity="error" text="Campo Es Obligatorio "
                    *ngIf="frm.controls['telefono'].invalid">
                </p-message>
            </div>
            <!-- Botones Crud -->
            <p-divider align="center">
                <div class="inline-flex align-items-center">
                    <i class="pi pi-user mr-2"></i>
                    <b>Funciones Usuario:</b>
                </div>
            </p-divider>
            <div class="flex flex-wrap gap-6">
                <div class="flex flex-col grow basis-0 gap-2">
                    <p-button
                        (click)="Nuevo()"
                        icon="pi pi-plus"
                        label="Nuevo"
                        pTooltip="clic para Nuevo registro"
                        tooltipPosition="bottom"
                        [outlined]="true"
                    />
                </div>
                <div class="flex flex-col grow basis-0 gap-2">
                    <p-button
                        label="Guardar"
                        pTooltip="clic para Almacena Informcion."
                        tooltipPosition="bottom"
                        (click)="Almacenar()"
                        [disabled]="frm.invalid"
                        icon="pi pi-save"
                        severity="help"
                         severity="info"
                        [outlined]="true"
                    >
                        <p-progressSpinner
                            *ngIf="BtnSpinner"
                            styleClass="w-4rem h-4rem"
                            strokeWidth="8"
                            fill="var(--surface-ground)"
                            animationDuration=".5s"
                        >
                        </p-progressSpinner>
                    </p-button>
                </div>
            </div>
          </form>
        }@else {
          <p-progressBar mode="indeterminate" [style]="{'height': '15px'}"></p-progressBar>
          <br><br>
          <i class="pi pi-user mr-2"></i>
          <br>
            <div class="inline-flex align-items-center">
              
                <p style="font-size: 16px; font-family: Arial, sans-serif; color: #333;">
                  Un <strong>agente de operaciones</strong> se encuentra <strong>procesando su información</strong> en este momento.  <br> <br>Le solicitamos amablemente que espere mientras finalizamos el proceso.
                  <br><br>
                  Le recomendamos estar atento a su correo electrónico y número de contacto. 
                  <br><br>ECCS le desea un excelente día.
              </p>
            </div>
            <br>
            <p-button
            (click)="Home()"
            icon="pi pi-plus"
            label="Home"
            tooltipPosition="bottom"
            [outlined]="true"
        />
        
        }


        </p-panel>
      </div>
        <!-- ------------------------------------------------------------------- -->
        <!-- Modal scorpio tip certificados -->
        <p-panel header=" Scorpio XL - Funcionalidades " class="flex flex-col gap-4 m-4">
          <div class="inline-flex align-items-center">
            <p class="text-lg font-semibold">
             - Descarga XML 
             - Envia por correo <br>
             - Exporta formatos: word pdf excel<br>
             - Optimiza la gestión fiscal, automatización, Sincronización y Descarga de los CFDIs.
             <br>
             <br>
             - Soporte Técnico.. +52 4651068560
            </p>
          </div>
        </p-panel>
        <!-- ------------------------------------------------------------------- -->
    </div>
</p-fluid>
